h1{

text-align:center;
font-family : Alegrian;
 color:red;
}
h2{
font-family:Courier;
color:blue;
text-align:center;
}
h3{
font-family:Lucide Console;
color:green;
text-align:center;
}
h4{
font-family:Lucide Console;
color:magenta;
text-align:center;
}